* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.background {
  display: flex;
  background-color: #ffffff;
  flex-direction: column;
}
.headingContainer {
  display: flex;
  background-color: #3367d6;
  background-size: cover;
}
.logo {
  padding: 5px;
}
.historySearch {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.imgLogo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 20px;
}
.inputSearch {
  width: 60vw;
  padding: 10px;
  align-self: center;
  margin-left: 0px;
  background-color: #2850a7;
  color: #64748b;
  font-style: roboto;
  border-style: solid;
  border-width: 1px;
  border-color: #f8fafc;
}
.searchIcon {
  margin-right: 0px;
  background-color: #2850a7;
  border-style: solid;
  border-width: 1px;
  border-color: #f8fafc;
  padding: 5px;
  height: 37px;
}
.container {
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 5px 5px #ececec;
  padding: 30px;
  width: 60vw;
  margin-top: 30px;
  align-self: center;
}
